@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}

.pulse{
  position: absolute;
  left: 13%;
  top: 4%;
  background: linear-gradient(to bottom #67849c, #d0d8df);
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.pulse:before,
.pulse::after{
  content: '';
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: #dbe1e6;
  border-radius: 50%;
  left: 0;
  opacity: 0.7;
}

.pulse::before{
  animation: pulse 1.5s ease-out infinite;
}
.pulse::after{
  animation: pulse  1.7s ease-out infinite;
}

.pulse2{
  position: absolute;
  right: -68%;
  top: 5%;
  z-index: 1;
  height: 70px;
  width: 70px;
}

.pulse2::after{
  content: '';
  position: absolute;
  height: 40%;
  width: 40%;
  background: linear-gradient(#e97676, #da1c03);
  border-radius: 50%;
  opacity: 1;
  filter: blur(4px);
  right:100%;
  top: -15%;
}

.pulse2::before{
  animation: pulse 1.5s ease-out infinite;
}
.pulse2::after{
  animation: pulse  0.7s ease-out infinite;
}

@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.title img{
  width: 100%;
  max-width: 425px;
  margin-top: 5%;
}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
  margin-left: -15%;/* Ajuste o valor conforme necessário */
}

.pokedex {
  width: 100%;
  max-width: 425px;
}


.pokemon__image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon__data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 54.5%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokedex2{
  position: absolute;/* Ajuste o valor conforme necessário */
  top: 4;/* Ajuste o valor conforme necessário */
  left:84%;  /* Ajuste o valor conforme necessário */
}

.pokemon__name {
  color: #3a444d;
  text-transform: capitalize;
}

.form {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 13.5%;
}

.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
}


.buttons {
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

.button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

.type{
  position: absolute;
  top: 28%;
  left: 83%;
  width: 100%;
  font-weight: 600;
}

.habilities{
  position: absolute;
  width: 100%;
  top: 32%;
  left: 83%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.habilities2{
  position: absolute;
  width: 100%;
  top: 40%;
  left: 83%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.habilities2 p{
  font-weight: 600;
}



.status-p{
  position: absolute;
  border: 2px dashed #222;
  border-radius: 15px;
  display: inline-flex;
  top: 55%;
  display: flex;
  gap: 20px;
  left: 111%;
  width: 50%;
  padding: 1px 10px;
}

 /* width: 60%;
 padding: 4px 30px 0px 30px; */

.power{
  position: absolute;
  display: flex;
  gap: 40px;
  align-items: center;
  top: 61%;
  left: 114%;
}

.hab{
  border: 1px dashed #222;
  border-radius: 15px;
  display: inline;
  padding: 2px 10px;
  line-height: 1.5;
}



